.task-card{

background:rgba(255,255,255,.08);

padding:18px;

border-radius:18px;

margin-bottom:15px;

display:flex;

justify-content:space-between;

align-items:center;

color:white;

}

.task-info h5{

margin:0;

font-size:18px;

}

.task-info p{

margin:0;

opacity:.7;

}

input[type="checkbox"]{

width:22px;

height:22px;

cursor:pointer;

}
